<section class="user-view">
  <div class="messages">
    <div *ngIf="isError" class="message">
      <h3>{{errorMessage}}</h3>
    </div>
  </div>
  <div *ngFor="let user of users" class="contact">
    <div class="user-container">
      <div class="user-details">
        <strong>{{ user.firstname + " " + user.lastname }}</strong>
        <strong>{{ user.company }}</strong>
        <span>{{ user.email }}</span>
        <em>{{ user.phone }}</em>
      </div>
      <div class="user-actions">
        <a mat-raised-button color="accent" (click)="updateUser(user)"
          >{{updateUserTitle}}</a
        >
        &#160;&#160;
        <a mat-raised-button color="warn" (click)="deleteUser(user.id)"
          >{{deleteUserTitle}}</a
        >
      </div>
    </div>
  </div>
</section>
