<section class="user-view">
  <div *ngFor="let user of users" class="contact">
    <ul>
      <li>
        <h3>{{ user.firstName + " " + user.lastName }}</h3>
      </li>
      <li>
        <strong>
          {{ user.company }}
        </strong>
      </li>
      <li>{{ user.email }}</li>
      <li>{{ user.phone }}</li>
    </ul>
    <a
      mat-button
      class="button"
      [routerLink]="['/user/create', user]"
      routerLinkActive="active-button"
      ariaCurrentWhenActive="page">Update User</a>
      &#160;|&#160;
    <a
      mat-button
      class="button"
      (click)="deleteUser(user._id)">Delete User</a>
  </div>
</section>
